/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font), 'Arial', sans-serif;
  font-variation-settings: 'wght' var(--description-font-weight, 400);
  background-color: var(--bg-color, #FFF);
  background-image: var(--bg-image);
  background: var(--bg-image-gradient);
  background-size: cover;
  background-repeat: repeat;
  color: var(--text-color, #000);
  font-size: var(--text-size, 18px);
  padding-block-start: 100px;
  display: grid;
}

.header {
  display: grid;
  position: relative;
  justify-self: center;
  background-color: var(--bg-color);
  inline-size: clamp(23.4375rem, 16.28rem + 30.5vw, 43.75rem);
  border: 2px solid var(--border-color);
  margin-block-end: 100px;
}

.header__logo {
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-size: clamp(3rem, 2.7rem + 1.5vw, 4rem);
  text-align: center;
  padding-top: 120px;
}

.header__title {
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.67rem + 0.84vw, 1.4rem);
  text-align: center;
  padding-block-start: 20px;
}

.theme-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  padding-block-start: 35px;
}

.card-container {
  display: grid;
  row-gap: 50px;
  justify-self: center;
  inline-size: clamp(23.4375rem, 16.28rem + 30.5vw, 43.75rem);
}

.card {
  display: grid;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
}

.card__title {
  font-size: 18px;
  font-weight: var(--heading-font-weight);
  font-variation-settings: 'wght' var(--heading-font-weight);
  padding: 4px 10px;
}

.card__image-container {
  position: relative;
  inline-size: 100%;
  block-size: clamp(23.4375rem, 16.28rem + 30.5vw, 43.75rem);
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__logo {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (
  (-webkit-text-stroke: 1px var(--bg-color)) or
  (text-stroke: 1px var(--bg-color))
)
{
  .card__logo {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__description {
  display: grid;
  padding: 25px;
  gap: 25px;
  max-inline-size: 690px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  inline-size: 100%;
}

.card__button-zone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding: 0 25px 25px;
}

.button {
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card__icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  inline-size: 39px;
  block-size: 36px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  transition: box-shadow 0.3s ease;
}

.like-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.heart {
  transform-origin: center;
  transform: scale(1);
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.main-body {
  fill: var(--main-body-color);
  transition: fill 0.3s linear;
}

.core {
  fill: var(--core-color);
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.card__icon-button:focus {
   outline: none;
}

  .card__icon-button:focus-visible {
  border: 2px solid var(--contour-color);
  transition: 0.3s ease;
  outline-offset: 2px;
}

.card__like-button:focus {
  outline: none;
  box-shadow: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--border-color);
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--bg-color);
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:hover {
   border: none;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .core {
  fill: var(--liked-color);
}

.like-icon.is-liked .main-body {
  fill: var(--liked-color);
}

.like-icon.is-liked .contour {
  fill: var(--liked-color);
  transition: fill 0.3s linear 0.06s;
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  position: relative;
  overflow: hidden;
}

.save-container__button-show-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
  inline-size: clamp(19.125rem,  calc(19.125rem + 0.08923 * (100vw - 23.4375rem)), 20.9375rem);
  block-size: clamp(3.4375rem, calc(5.25rem - 0.08923 * (100vw - 23.4375rem)), 5.25rem);
  gap: 8px;
}

.button__diskette-icon {
  display: block;
  block-size: auto;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--bg-color);
  margin: 0;
  max-inline-size: clamp(21px, 31.8169px + -0.7512vw, 28px);
}

.button-show-text {
  font-family: var(--font-accent);
}

.dialog-window {
  border: 2px solid var(--border-color);
  border-radius: 0;
  inline-size: clamp(341px, 336px + 1vw, 353px);
  padding: 30px 40px;
  margin-bottom: 100px;
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-container {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 20px;
  row-gap: 30px;
  width: clamp(261px, 249.7324px + 3.0047vw, 293px);
  max-inline-size: 261px;
}

.dialog-container__diskette-icon {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

.dialog-container__text {
  max-inline-size: 234px;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog-container__button-ok {
  grid-column: 1 / -1;
  inline-size: 100%;
  min-block-size: 38px;
  padding: 5px;
}


.card__image-saturation-down {
  filter: sepia(0.6) saturate(60%) brightness(80%);
}

.card__image-neon {
  filter: saturate(300%);
}

.card__image-vintage {
  filter: hue-rotate(0.1turn);
}

.card__image-unnatural-green {
  filter: invert(80%);
}

.card__image-monochrome {
  filter: sepia(0.6) contrast(60%);
}

.card__image-blur {
  filter: blur(15px);
}

.card__image-multifilter {
  filter: invert(80%) hue-rotate(0.7turn) brightness(60%);
}


@media (width <= 375px){

  .save-container__button-show-modal {
    flex-direction: column;
  }

 .button__diskette-icon {
    margin: 15px 0;}

  .button-show-text {
    padding-block-start: 7px;
    margin-inline-start: 0;
  }
}

@media (min-width: 700px) {
  .save-container__button-show-modal {
    flex-direction: row;
  }
}